.App {
    text-align: center;
    padding: 15px;
    background-image: url("https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/articleimages/2020/12/13/file7dl2uz3ogjnqlyijl-926463-1607831112.jpg?itok=i7mIVchn");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Container {
    /* display:flex; flex-direction:row; */
    padding: 15rem;
    margin-left: 30px;
    padding: 15rem 10px 10px 7px;
    border-radius: 10px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }  